# OHLCV Example

## Intro

### Imports

In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import os
import sys
from dotenv import load_dotenv

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
from tqdm.notebook import tqdm, trange

from helixirapi.helixir_api import HelixirApi

In [4]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')

import plotly.io as pio
pio.renderers.default = "notebook_connected"

### Create client instance

In [5]:
load_dotenv()
AUTH_TOKEN = os.getenv("AUTH_TOKEN")
client = HelixirApi(auth_token=AUTH_TOKEN)
client

## Getting Data

Method `get_OHLCV` returns price data (in OHLC format) with volume.

***Parameters:***

`chain`
- It is an optional parameter with the default value `"bsc"` (_Binance Smart Chain_). The chain can be specified as a string (case insensitive) or an integer (chain id).

`symbol`
- The symbol is an optional parameter. It could be used instead of the `contract` parameter; however, the symbol must be unique (at least within the chain), so it could be used only for some tokens.

`contract`
- The contract parameter is required. However, as mentioned above, it could be omitted if the `symbol` is specified.

`against`
- By default, the price is stated in _USD_.

`from_`
- `from_` is the required parameter; however, the start of data history is used if omitted. The date could be entered as a timestamp (integer number) or by a human-readable string (e.g., `2022-05-01`).

`to`
- The default value is _now_. The format is the same as for parameter `from_`, so a timestamp or a string could be entered.

`resolution`
- By default, the resolution is _H1_ (one hour). The parameter is case insensitive.

`platform`
- The optional parameter with default value of the biggest platform on chain.

`validate_params`
- An optional parameter with a default value equal to _True_.

In [6]:
client.get_OHLCV(
    symbol="wbnb",
    contract="0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c",
    chain="BSC",
    resolution="D1",
    from_="2022-01-01",
    to="2022-05-01",
)

Iterating requests to meet the limit:   0%|          | 0/4 [00:00<?, ?it/s]

Iterating requests to meet the limit:   0%|          | 0/4 [00:00<?, ?it/s]

,open,high,low,close,volume
time,,,,,
2021-12-31 00:00:00+00:00,517.275655,527.403035,507.622230,512.072826,1.335884e+06
2022-01-01 00:00:00+00:00,512.073030,526.355884,511.922083,526.268325,1.075947e+06
2022-01-02 00:00:00+00:00,526.261491,532.674468,519.298791,531.468461,1.084584e+06
2022-01-03 00:00:00+00:00,531.470383,531.598789,509.882842,512.352879,1.326274e+06
2022-01-04 00:00:00+00:00,512.352807,518.697110,502.853607,506.488620,1.443014e+06
...,...,...,...,...,...
2022-04-25 00:00:00+00:00,399.325811,404.484984,383.125502,404.459423,1.377097e+06
2022-04-26 00:00:00+00:00,404.460224,407.544468,382.004970,385.103323,1.399976e+06
2022-04-27 00:00:00+00:00,385.099576,393.934083,384.159602,390.785265,1.139868e+06
2022-04-28 00:00:00+00:00,390.782971,407.445015,389.371295,406.280757,1.473621e+06
2022-04-29 00:00:00+00:00,406.296030,409.496259,390.731842,393.181504,1.422307e+06

As we can see, the output is in `pandas.DataFrame` format.